.home {
  background-image: url('../images/hotel-background.jpg');
  background-size: cover;
  background-blend-mode: color;
  display: flex;
  flex-direction: column;
  gap: 20%;
  justify-content: center;
  align-items: center;
}

.login_form_holder {
  padding: 45px 25px;
  background-color: rgba(255, 255, 255, 0.212);
  border: 1px solid rgb(255, 255, 255);
  backdrop-filter: blur(4px);
  box-shadow: 0 10px 20px #000;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  overflow: hidden;
  width: fit-content;
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
}

.registration_holder {
  height: 100vh;
  padding: 20px;
  background-image: url('../images/registeration.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 20%;
  justify-content: center;
  align-items: center;
}

.registration_form_holder {
  padding: 45px 25px;
  background-color: rgba(255, 255, 255, 0.267);
  backdrop-filter: blur(4px);
  border: 2px solid rgb(255, 196, 0);
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  text-align: center;
}

.green_btn {
  background-color: #8fcf45;
  color: #fff;
}

.blue_btn {
  background-color: #315eda;
  color: #fff;
}
