.hotel_show {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.hotel_content_panel {
  height: 100vh;
  padding: 0 10px 30px;
  overflow-y: scroll;
}

.rooms_panel {
  margin-top: 50px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
}

.hotel_info_panel {
  height: 100vh;
  border-left: 0.5px solid rgb(189, 189, 189);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image_holder {
  width: 100%;
  max-height: 700px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.banner_image {
  width: 100%;
}

.hotel_show_holder_header {
  border-bottom: 0.5px solid rgb(172, 172, 172);
  padding: 20px;
  margin: 10px 0;
}

.info_holder {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bg_purple {
  background-color: rgb(135, 0, 177);
}

@media screen and (min-width: 900px) {
  .rooms_panel {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1300px) {
  .rooms_panel {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
