:root {
  --color-accent: #8fcf45;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  color: #2b2b2b;
  margin: 0;
}

.text_center {
  text-align: center;
}

.app_holder {
  display: grid;
  grid-template-columns: 1fr;
}

.content_holder {
  height: 100vh;
  width: 100%;
  padding: 2%;
  overflow: auto;
}

.hotel_holder {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.navigation {
  width: 100%;
  height: 100vh;
  display: none;
  padding: 40% 0 5% 0;
  border-right: 1px solid rgb(192, 192, 192);
}

.logo {
  font-weight: bold;
}

.nav_holder {
  padding: 10px 0 10px 20%;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.nav_link {
  padding: 7px;
  padding-left: 12px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  transition: all 0.2s ease;
}

.social_link_holder {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social_link:hover {
  color: var(--color-accent);
  scale: 1.2;
  transition: all 0.2s ease;
}

.copyright_text {
  font-size: 10px;
  margin: 10px 0;
}

/* __________ scroller ________ */

/* width */
/* stylelint-disable-next-line no-descending-specificity */
::-webkit-scrollbar {
  width: 4px;
  background-color: rgb(255, 255, 255);
}

/* Track */

/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
} */

/* Handle */
/* stylelint-disable-next-line no-descending-specificity */
::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5f8a2e;
}

@media screen and (min-width: 550px) {
  .hotel_holder {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 700px) {
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .app_holder {
    grid-template-columns: 1fr 5fr;
  }
}

@media screen and (min-width: 1100px) {
  .hotel_holder {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
