:root {
  --color-accent: #8fcf45;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  color: #2b2b2b;
  margin: 0;
}

.text_center {
  text-align: center;
}

.app_holder {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.content_holder {
  height: 100vh;
  overflow: auto;
}

.navigation {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40% 0 5% 0;
  border-right: 1px solid rgb(192, 192, 192);
}

.logo {
  font-weight: bold;
}

.nav_holder {
  padding: 10px 0 10px 20%;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.nav_link {
  padding: 7px;
  padding-left: 12px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  transition: all 0.2s ease;
}

.social_link_holder {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social_link:hover {
  color: var(--color-accent);
  scale: 1.2;
  transition: all 0.2s ease;
}

.copyright_text {
  font-size: 10px;
  margin: 10px 0;
}
