.add_new_hotel_box {
  background-color: white;
  width: 350px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 30px rgb(117, 117, 117);
}

.add_new_hotel_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: green;
}

.add_new_hotel_form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hotels_holder_header {
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 0.5px solid rgb(196, 196, 196);
  display: flex;
  justify-content: space-around;
}

.popup_window {
  background-color: rgba(88, 88, 88, 0.541);
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  backdrop-filter: blur(5px);
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
}
