.room_card {
  max-width: 350px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 10px grey;
  overflow: hidden;
}

.room_image_holder {
  width: 100%;
  max-height: 250px;
  overflow: hidden;
}

.room_image {
  width: 100%;
  height: 250px;
  transition: all 0.3s ease-in-out;
}

.room_image:hover {
  scale: 1.1;
}

.room_info_holder {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reserve_btn {
  cursor: pointer;
  background-color: #8fcf45;
  color: white;
  width: fit-content;
  padding: 5px 10px;
  border: 0;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.reserve_btn:hover {
  background-color: #649e22;
}

.d_flex {
  display: flex;
}

.space_between {
  justify-content: space-between;
}

.text_1 {
  font-size: 14px;
}

.disable {
  background-color: #a8a8a8 !important;
  cursor: default !important;
  pointer-events: none;
}

.popup_window {
  background-color: rgba(88, 88, 88, 0.541);
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  backdrop-filter: blur(5px);
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reserve_box {
  background-color: white;
  box-shadow: 0 0 5px gray;
  border-radius: 15px;
  padding: 20px;
}

.popupheader {
  display: flex;
  justify-content: flex-end;
}

.close_btn {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 0;
  font-size: large;
}

.reserve_form {
  margin-top: 20px;
}

.form_feild {
  padding: 5px;
  font-size: 18px;
  border: 0.5px solid gray;
  border-radius: 5px;
}

.small_feild {
  width: 20%;
}

.form_feild:focus {
  border: 0.5px solid rgba(192, 192, 192, 0.397);
  outline: 4px solid #649e2249;
}

.fixed_info {
  color: rgb(128, 128, 128);
}
